name: CI

on: 
  push:
    branches:    
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd pipl
            kill $(lsof -t -i:3000,3001) 
            git pull
            npm i
            nohup npm start &>/dev/null &
